<!DOCTYPE html>
<html>
  <head>
    <title>SamlExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash %>
      <% flash.each do |msg_type, message| %>
        <% next if msg_type == 'global' %>
        <div class="alert alert-banner <%= msg_type %>" role="alert">
          <%= sanitize(message) %>
        </div>
      <% end %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
